
*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    background-color: darkgrey;
}
.wrapper{
    width: 100%;
    height: 80px;
    background-color: bisque;
}
.wrapper h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 40px;
    line-height: 80px;
    display: inline-block;
}

.nav{
    display: inline-block  ;
    line-height: 80px;
    margin-left: 100px;
}
.nav li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}
.nav li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    border-radius: 10px;
}
.nav li a:hover{
    color: crimson;
    transition: all 0.3s ease-in-out;
    border: 2px;
    border-style: solid;
    border-color: black;
}
label #sub,#cls{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
}
#check{
    display: none;
}

.content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 30px 0;
    text-align: center;
    font-weight: 800;
}

.content img{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.content p{
    width: 300px;
    height: 300px;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    font-style:italic;
    letter-spacing: 1px;
}
.foot{
    line-height: 80px;
    background-color:cadetblue;
}
.foot h3{
    color:brown;
    text-align: center;
}
@media(max-width:720px){
    label #sub{
        display: block;
    }
    .nav{
        position: fixed;
        width: 100%;
        margin-right: 0;
        top: 50px;
        right: -100%;
        background-color: bisque;
        transition: 0.5s;
        text-align: center;
    }

    .nav li{
        display: block;
        line-height: 5px;
        margin: 50px 20px;
    }
    #check:checked ~ .nav{
        right: 0;
    }

    #check:checked ~ label #sub{
        display: none;
    }
    
    #check:checked ~ label #cls{
        display: block;
    }
}
